@font-face {
    font-family: 'Signika Negative', sans-serif;
    src: url(font/static/SignikaNegative-Bold.ttf);
}

@font-face {
    font-family: 'GrowlyGrin';
    src: url(font/GrowlyGrin.ttf);
}

*{
    font-family: 'Signika Negative', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/background/game_background_2/game_background_2.png);
    background-repeat: no-repeat;
}

canvas {
    background-color: black;
    border: solid 2px white;
    -webkit-box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.5);
}

header {
    margin: 35px 0 35px 0;
}

header img {
    width: 720px;
    height: auto;
}

.game {
    width: 720px;
    height: 480px;
    position: relative;
}

.menu {
    position: absolute;
    bottom: -33px;
    right: -2px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score {
    font-size: 24px;
    color: #e1a67d;
    text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
    width: 45%;
    display: flex;
    gap: 10px;

}

.startscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-image: url('img/background/game_background_2/game_background_2.png');

    display: flex;
    flex-direction: column;
    padding-top: 200px;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    width: 1000px;
}

.gameLore {
    font-weight: 500;
    font-size: 24px;
    color: #D7CC8D;
    text-shadow: -1px 0 #7D4B07, 0 1px #7D4B07, 1px 0 #7D4B07, 0 -1px #7D4B07;
    margin: 40px;
    text-align: center;
   
}

.btn {
    font-family: 'GrowlyGrin';
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: #06230E;
    border: 2px solid #031408;
    color: #D7CC8D;
    text-shadow: -1px 0 #7D4B07, 0 1px #7D4B07, 1px 0 #7D4B07, 0 -1px #7D4B07;
    font-size: 30px;
    cursor: pointer;
}

.btn:hover {
	background:linear-gradient(to bottom, #013b01 5%, #0e581d 100%);
	background-color:#013b01;
}
.btn:active {
	position:relative;
	top:1px;
}

.endscreen {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

}

.endscreenContent {
    width: 730px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 30px;
}

.endscreenContent span {
    font-family: 'GrowlyGrin';
    color: #DCD095;
    text-shadow: -2px 0 #7D4B07, 0 2px #7D4B07, 2px 0 #7D4B07, 0 -2px #7D4B07;
    margin: 0;
    text-align: center;
    font-size: 150px;
    line-height: 80%;
}


.dnone{
    display: none !important;
}

        
